{% extends 'base.html' %}

{% block content %}
  <!-- BUTTONS -->
  <!-- back button to send user back to dashboard -->
  <a href="{% url 'accounts:dashboard' username=user.username %}" class="btn mt-4">BACK</a>

  <!-- BEGIN RECORDING BUTTON -->
  <!-- need to mess with intervals so server doesn't keep running due to setInterval function -->
  <!-- is there a way to stop interval so server doesn't keep running -->
  <a href="#" class="btn mt-4">BEGIN RECORDING</a>

  <!-- same idea with stop recording -->
  <!-- would make server stop running -->
  <a href="#" class="btn mt-4">STOP RECORDING</a>

  <!-- possible download button here if user wants to download XML file -->
  <!-- <a href="#" class = "btn mt-4"> DOWNLOAD </a> -->

  <!-- MAIN CONTENT -->

  <!-- SHEET MUSIC SETUP -->

  <!-- DISPLAY -->
  <div>
    <div class="sheet-music-container">
      <script src="opensheetmusicdisplay.min.js"></script>
      <div id="osmdCanvas"></div>
      <script>
        var osmd = new opensheetmusicdisplay.OpenSheetMusicDisplay('osmdCanvas', {
          autoResize: true,
          backend: 'svg',
          drawTitle: false,
          pageFormat: 'A4_P'
        })
        
        setInterval(renderSheet, 100)
        
        function renderSheet() {
          fetch('http://localhost:8080/sheet.musicxml', { cache: 'no-cache' })
        
          osmd.load('http://localhost:8080/sheet.musicxml').then(function () {
            osmd.render()
            // window.scrollTo(0, document.body.scrollHeight);
          })
        }
      </script>
    </div>
  </div>
{% endblock %}
